<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <h1>DETAILS</h1>
        __________________________
    <h1>
    <table>
    <tr>
        <th>ip</th>
        <th>country</th>
        <th>capital</th>
        <th>native</th>

    </tr>

    <tr>

        <th>{{ip}}</th>
        <th>{{country_code}}</th>
        <th>{{location.capital}}</th> 
        &nbsp;&nbsp; <th>{{location.languages.0.native}}</th>

    </tr>
    </table>
    </h1>
</body>
</html>